[submodule "themes/hugo-universal-theme"]
	path = themes/hugo-universal-theme
	url = https://github.com/devcows/hugo-universal-theme
[submodule "themes/hugo-elate-theme"]
	path = themes/hugo-elate-theme
	url = https://github.com/saey55/hugo-elate-theme
